<p id="notice"><%= notice %></p>

<h1>Оцінки</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Оцінка</th>
      <th>Студент</th>
      <th>Предмет</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <td><%= mark.mark %></td>
        <td><%= mark.student.name %></td>
        <td><%= mark.subject.name %></td>
        <td><%= link_to 'Показати', mark %></td>
        <%if current_user.admin?%>
        <td><%= link_to 'Редагувати', edit_mark_path(mark) %></td>
        <td><%= link_to 'Видалити', mark, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_user.admin?%>
<%= link_to 'Додати нові оцінки', new_mark_path %>
<%end%>
