<%= form_for(group) do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <%= f.label :name, "Назва групи"%>
        <%= f.text_field :name,class:"form-control" %>

        <%= f.label :teacher_id , "Вчитель"%>
        <%= f.text_field :teacher_id,class:"form-control" %>

        <%= f.submit "Підтвердити", class: "btn btn-primary" %>
    </div>
</div>
<% end %>
