<% provide(:title, "Редагувати користувача") %>
<h1>Оновіть ваш профіль</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Ім'я" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "Пошта" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Підтвердження пароля" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Зберегти зміни", class: "btn btn-primary" %>
    <% end %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
