<p id="notice"><%= notice %></p>

<p>
  <strong>Назва предмету:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Години:</strong>
  <%= @subject.hour %>
</p>

<%= link_to 'Редагувати', edit_subject_path(@subject) %> |
<%= link_to 'Назад', subjects_path %>
