<p id="notice"><%= notice %></p>

<h1>Вчителі</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ПІБ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= link_to 'Показати', teacher %></td>
        <td><%= link_to 'Редагувати', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Видалити', teacher, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Додати вчителя', new_teacher_path %>
